.offers-container {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 2rem 1rem 1rem 1rem;
    max-width: 1200px;
	background-color: white;
	margin-bottom: 3rem;
	border-radius: 9px;
	border-left: 4px solid #dfd0b8;
	box-shadow: 0px 8px 20px 0px rgba(223, 208, 184, 0.9);
}

.offers-container img {
	position: absolute;
	top: -20px;
	left: 20px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.company-info p:nth-child(1) {
	margin-bottom: 0.5rem;
	color: #b4925c;
	font-weight: bold;
}

.company-info p:nth-child(2) {
	margin-bottom: 0.5rem;
	font-size: 1.1rem;
	font-weight: bold;
}

.offer-info {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	margin-bottom: 1.5rem;
	font-size: 0.9rem;
}

.offer-keywords {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
}

.offer-keywords p {
	padding: 0.5rem;
	color: #b4925c;
	background-color: #e2ded3;
	font-size: 0.8rem;
	font-weight: bold;
	border-radius: 9px;
}
.offers-container button {
	position: absolute;
	top: 10px;
	right: 20px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.offers-container i {
	font-size: 1.2rem;
	color: rgb(61, 61, 61);
	transition: scale 0.4s;
}

.offers-container i:hover {
	scale: 1.2;
}

@media (min-width:768px) {
    .offers-container{
        flex-direction: row;
        gap: 1.2rem;
        padding: 1.3rem;
    }

	.offers-container img {
		position: relative;
		top: 0;
		left: 0;
        width: 90px;
        height: 90px;
        margin: auto 0;
	}

    .offer-data{
        min-width: 250px;
    }


    .company-info p:nth-child(1) {
        margin-top: 1rem;
        margin-bottom: 0.8rem;
    }
    
    .company-info p:nth-child(2) {
        margin-bottom: 0.8rem;
    }

    .offer-keywords{
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        width: 100%;
    }

    .offer-keywords p{
        height: 32px;
    }
}

@media (min-width:1200px){
    .offers-container{
        margin: 0 auto;
        margin-bottom: 3rem;
    }
}
