* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	color: rgb(32, 32, 32);
}

body{
	background-color: rgb(252, 248, 244);
}

main{
	padding: 3rem 1rem;
	background-color: rgb(252, 248, 244);
}